<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="420"/>
    </diagnostics>

    <extensions>
      <bindingElementExtensions>
        <!-- Регистация кодировщика сообщений СМЭВ через файл конфигурации -->

        <!-- Регистрация расширения при использовании NET v3.5 -->
        <!--<add name="SMEVTextMessageEncoder" type="CryptoPro.Sharpei.ServiceModel.SMEVMessageEncodingElement, CryptoPro.Sharpei.ServiceModel, Version=1.0.0.1, Culture=neutral, PublicKeyToken=473b8c5086e795f5"/>-->
        
        <!-- Регистрация расширения при использовании NET v4.0 -->
        <add name="SMEVTextMessageEncoder" type="CryptoPro.Sharpei.ServiceModel.SMEVMessageEncodingElement, CryptoPro.Sharpei.ServiceModel, Version=1.4.0.1, Culture=neutral, PublicKeyToken=473b8c5086e795f5"/>
      </bindingElementExtensions>
    </extensions>

    <bindings>
      <customBinding>
        <binding name="gasuBinding">
          <!-- Необходимо использовать enableUnsecuredResponse="true" в виду того, что сервисы ГАСУ, написанные на JAVA 
               не подписывают ответы, что является обязательным для WCF. В противном случае получаем исключения типа 
               несоответствия токенов подписей или прочей ерунды. -->
          <security defaultAlgorithmSuite="BasicGostObsolete" allowSerializedSigningTokenOnReply="true"
              enableUnsecuredResponse="true" authenticationMode="MutualCertificateDuplex"
              includeTimestamp="false" messageProtectionOrder="SignBeforeEncrypt"
              messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <SMEVTextMessageEncoder />
          <!-- При смене адреса Endpoint с http на https httpTransport необходимо заменить на httpsTransport с сохранением всех параметров. -->
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
              maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
              bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
              keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
              realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
              useDefaultWebProxy="true" />
        </binding>
      </customBinding>

      <wsHttpBinding>
        <binding name="WSHttpBinding_IExecutiveBodyService">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <!-- Адресс Endpoint промышленного сервиса ГАСУ в интернет -->
      <!-- https://gasu-office.roskazna.ru/Gasu2WSp2p/gasu2SOAP?wsdl -->

      <!-- Адресс Endpoint тестового сервиса ГАСУ в интернет -->
      <!-- http://gasu-office.roskazna.ru:80/Gasu2WSTest/gasu2SOAP?wsdl -->
      <endpoint address="https://gasu-office.roskazna.ru/Gasu2WSp2p/gasu2SOAP?wsdl"
          binding="customBinding" bindingConfiguration="gasuBinding"
          contract="GASU.gasu2" name="gasu2SOAP" />      
    </client>
  </system.serviceModel>
</configuration>
