<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.Net.Sockets">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="Sockets">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="Socketlog.log" type="System.Diagnostics.TextWriterTraceListener" name="Sockets" traceOutputOptions="DateTime, Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="app_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="420"/>
    </diagnostics>
    <extensions>
      <bindingElementExtensions>
        <!--Регистация кодировщика сообщений СМЭВ через файл конфигурации-->

        <!--Регистрация расширения при использовании NET v3.5-->
        <add name="SMEVTextMessageEncoder" type="CryptoPro.Sharpei.ServiceModel.SMEVMessageEncodingElement, CryptoPro.Sharpei.ServiceModel, Version=1.0.0.1, Culture=neutral, PublicKeyToken=473b8c5086e795f5"/>
        <!--Регистрация расширения при использовании NET v4.0-->
        <!--<add name="SMEVTextMessageEncoder" type="CryptoPro.Sharpei.ServiceModel.SMEVMessageEncodingElement, CryptoPro.Sharpei.ServiceModel, Version=1.4.0.1, Culture=neutral, PublicKeyToken=473b8c5086e795f5"/>-->
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="FNSINNSvcSoap11_Signing_CB">
          <security defaultAlgorithmSuite="BasicGostObsolete" allowSerializedSigningTokenOnReply="true" authenticationMode="MutualCertificateDuplex" includeTimestamp="false" messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false"/>
            <localServiceSettings detectReplays="false"/>
          </security>
          <!--Пример добавления кодировщика сообщений через файл конфигурации.
                    
                        Атрибуты элемента SMEVTextMessageEncoder:
                        recepient - значение атрибута actor для отправляемого сообщения.
                                    Значение по-умолчанию: http://smev.gosuslugi.ru/actors/smev
                        sender - значение атрибута actor для входящего сообщения.
                                 Значение по-умолчанию: http://smev.gosuslugi.ru/actors/recipient
                        messageVersion - версия SOAP-сообщения.
                                 Значение по-умолчанию: Soap11WSAddressingNone-->
          <SMEVTextMessageEncoder/>
          <httpTransport maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="FNSINNSvcSoap11_Signing" messageEncoding="Text" textEncoding="utf-8">
          <security mode="Message">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
            <message clientCredentialType="Certificate" algorithmSuite="BasicGostObsolete"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--Конечная точка с привязкой, настроенной в файле конфигурации-->
      <!--<endpoint address="http://188.254.16.92:7777/gateway/services/SID0003565?wsdl" binding="customBinding" bindingConfiguration="FNSINNSvcSoap11_Signing_CB" contract="SMEVService.FNSINNSvcPort" name="FNSINNSvcPort1"/>-->
      <!--Конечная точка с привязкой, настроенной в коде-->
      <endpoint address="http://188.254.16.92:7777/gateway/services/SID0003565?wsdl" binding="basicHttpBinding" bindingConfiguration="FNSINNSvcSoap11_Signing" contract="GASU.gasu2" name="gasu2SOAP"/>
    </client>
  </system.serviceModel>
</configuration>

<!--<client>
  <endpoint address="http://188.254.16.92:7777/gateway/services/SID0003565?wsdl"
      binding="basicHttpBinding" bindingConfiguration="gasu2SOAP"
      contract="GASU.gasu2" name="gasu2SOAP" />
</client>-->